framework auto-detect

source https://api.nuget.org/v3/index.json
source https://nuget.messerli.ch/v3/index.json

nuget Autofac ~> 4.8
nuget Microsoft.NET.Test.Sdk ~> 15.9
nuget xunit ~> 2.4
nuget xunit.runner.visualstudio ~> 2.4
nuget Messerli.Test.Utility ~> 0.5.0
